<div class="create-model" id="createbox">
  <div class="create-container">
    <div class="title-container">
      <h6 class="create-title">Add-Employee</h6>
      <button id="close">X</button>
    </div>
    <input
      type="text"
      name="name"
      class="input-create"
      id="name"
      placeholder="Fullname..."
      required
    />
    <p id="nameError">Please fill out this field as it is required.</p>
    <input
      type="text"
      name="email"
      class="input-create"
      id="email"
      placeholder="email..."
      required
    />
    <p id="emailError">Please fill out this field as it is required.</p>
    <input
      type="text"
      name="department"
      class="input-create"
      id="department"
      placeholder="department..."
    />
    <p id="departmentError">Please fill out this field as it is required.</p>
    <input
      type="text"
      name="location"
      class="input-create"
      id="location"
      placeholder="location..."
    />
    <p id="locationError">Please fill out this field as it is required.</p>
    <button id="created">ADD</button>
  </div>
</div>
