<nav id="nav">
  <h2 class="brand">Employee-Database</h2>
  <!--On phone sizes only Employees will appear instead of Employee-Database-->
  <h2 class="brand-mobile">Employees</h2>
  <div class="button-container">
    <i class="fa-solid fa-magnifying-glass nav-button fa-lg" id="search"></i>
    <i class="fa-solid fa-plus nav-button fa-lg" id="create"></i>
  </div>
</nav>
